table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}


.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;

}

/* tabla */
.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: #f2f2f2;
}

.custom-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.custom-table tr:hover {
  background-color: #ddd;
}

.custom-table button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.custom-table .btn-primary {
  background-color: #007bff;
  color: white;
}

.custom-table .btn-danger {
  background-color: #dc3545;
  color: white;
}

/* button delete */
.red-button {
  background-color: red;
  color: white;
}
