.user-list-container {
  margin: 0 auto;
  padding: 20px;
}

.logout-button {
  margin-bottom: 20px;
  display: block;
  margin: 20px auto; /* Centers the button horizontally and adds margin */
  padding: 10px 20px; /* Adds padding for better appearance */
  background-color: #4CAF50; /* Change button color */
  color: white; /* Change text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition for smoother color change */
}


table {
  width: 100%;
}


.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}


.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;

}

/* tabla */
.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: #f2f2f2;
}

.custom-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.custom-table tr:hover {
  background-color: #ddd;
}

.custom-table button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.custom-table .btn-primary {
  background-color: #007bff;
  color: white;
}

.custom-table .btn-danger {
  background-color: #dc3545;
  color: white;
}

/* button delete */
.red-button {
  background-color: red;
  color: white;
}
