
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
mat-grid-tile {
  size: 0px;
  background: lightblue;
}
mat-grid-tile-content {
  size: 0px;
  background: lightblue;
}
mat-grid-list{
  box-sizing: 0px;
}


/* form*/
.custom-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mat-form-field {
  width: calc(50% - 20px); /* Ancho del 50% con margen */
  margin-bottom: 20px;
}

.mat-form-field:last-child {
  width: 100%; /* El último campo de formulario ocupa todo el ancho */
}

.example-button-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.example-flex-container {
  display: flex;
  justify-content: flex-end;
}

.example-flex-container button {
  margin-left: 10px;
}

.mat-error {
  color: #f44336; /* Color rojo para el mensaje de error */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Optional: This ensures the form is centered vertically on the screen */
  flex-direction: column;
}

.container h1 {
  order: -1; /* Coloca el h1 al principio del contenedor */
  margin-bottom: 20px; /* Añade un margen inferior opcional */
}
