<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div>
        <img style="width: 280px; margin: 1%;"
          src="https://raw.githubusercontent.com/programando-ideas/cursoangular/master/imagenes/programando-ideas.png"
          alt="Program Demo">
      </div>
      <br />

      <div class='input-fields'>
        <form [formGroup]="formLogin" (ngSubmit)="Login()">
        <input matInput placeholder="username" type="text" formControlName="usernameL"
                  [errorStateMatcher]="matcher" class='input-line full-width'>
                <mat-error class="mat-error" *ngIf="hasError('usernameL', 'required')">Enter the user</mat-error>

                <br />
                <br />
                <input matInput placeholder="Contraseña" type="password" formControlName="passwordL"  class='input-line full-width'>
                <mat-error class="mat-error" *ngIf="hasError('passwordL', 'required')">Enter
                  password</mat-error>
                  <br />
                  <br />

                  <div class="button" [ngClass]="{'disabled': !formLogin.get('usernameL')!.value || !formLogin.get('passwordL')!.value}">
                    <button mat-raised-button (click)="Login()" [disabled]="!formLogin.valid" color="primary" type="submit">
                      log in</button>
                  </div>
                </form>
      </div>
      <div class="custom-container">
        <p class="custom-paragraph">Or you can sign in with:</p>
        <app-google-signin class="googleSignin" (loginWithGoogle)="googleSignin($event)">
          <button class="googleButton">Sign in with Google</button>
        </app-google-signin>
        <button class="facebook-button" (click)="FacebookSignin('FACEBOOK');">Sign in with Facebook</button>
        <br />
      </div>
      <!-- <div><button class='ghost-round full-width' routerLink="/addUser">Create Account</button></div> -->
    </div>
  </div>
</div>
